header.menu-product{
    position: absolute;
    z-index: 9999;
    a {color:red !important;opacity: 1;}
    background: transparent;
}

section#header-menu{
    .mobile-menu{display:none;}
}

@media all and (max-width: 630px){
    section#header-menu {
        .desktop-menu{display:none;}
        .mobile-menu{display:block;}
    }
}

header#menu-scroll{
    position: absolute;
    z-index: 9999;
    width: 100%;
    text-align: center;
    font-size: 60px;
    line-height: 108px;
    height: auto;
    background: transparent;
    color: #fff;
    z-index: 999999;
    transition: all 0.4s ease;
    a{text-transform: uppercase; font-weight:bold; color: white !important;}
    a:hover {color:@ft-primary-dark !important;}

    .home{
        display: block;
        height: auto;
        overflow: auto;
        line-height: 1.2em;
    }

    .logo{
        margin: 10px;
        padding: 0;
        width: 60%;
        max-width: 250px;
        transition: all 0.4s ease;
    }

    .ui.list>.item>.content{
        font-size: 1.2em;
        line-height: 6.9em;
        transition: all 0.4s ease;

    }

    .list{
        float: right;
        margin: 0 13px;
    }

}

header#menu-scroll.stick {
    position: fixed;
    font-size: 24px;
    line-height: 48px;
    height: auto;
    background: white;
    //border-bottom: 1px solid grey;
    text-align: left;
    padding-left: 20px;
    z-index: 999999;
    transition: all 0.4s ease;
    a{color: @ft-primary-dark !important;}
    a:hover {color:@ft-primary-light !important;}
    .logo{
        width: 45%;
        max-width: 100px;
        margin: 5px;
        padding: 0;
        transition: all 0.4s ease;
    }

    .list{
        .content{
            line-height: 3.6em !important;
            transition: all 0.4s ease;
        }
    }
}

@media only screen and (max-width: 767px){
    header#menu-scroll{
        overflow: visible;
        height: auto;

        .logo{
            display: block;
            margin: 10px auto;
        }

        .menu-toggle{
            line-height: 3em;
        }
    }

    header#menu-scroll.stick{
        position: fixed;
        font-size: 1em;
        line-height: 48px;
        height: auto;
        background: #efc47D;
        text-align: left;
        padding-left: 20px;
        z-index: 999999;
        transition: all 0.4s ease;

        .logo{
            display: block;
            width: 45%;
            max-width: 180px;
            margin: 10px auto;
        }
    }
}
